a.nav-link {
  font-weight: 600;
  text-transform: uppercase !important;
}

.bg-custom {
  background-color: var(--col-blue-brand);
}

.bg-custom-2 {
  background-color: #0048a1;
}

.border {
  border: 1px solid var(--col-darkest) !important;
}

.btn-nav-link {
  background: none !important;
  font-weight: 300;
  color: #fff;
}

.hero-bg-img {
  filter: blur(6px);
  height: 100px;
  opacity: 0.4;
  transform: scale(1.2);
  -webkit-filter: blur(3px);
  width: 100%;
  z-index: -10 !important;
}

.hero-links-general-wrapper {
  height: 110px;
  left: 0 !important;
  position: absolute;
  width: 100px;
}

.hero-links-social-wrapper {
  height: 110px;
  position: absolute;
  right: 0;
  width: 100px;
}

.hero-links-wrapper {
  margin-top: 3px;
  z-index: 10;
}

.header-sub-wrapper {
  height: 120px;
  width: 100%;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase !important;
}

.navbar-btn {
  font-weight: 300 !important;
  letter-spacing: -1.5px !important;
}

.navbar-logo-wrapper {
  height: 100px;
  left: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  right: 0;
  text-align: center;
  width: 300px;
  z-index: 10;
}

.nav-btn-active {
  color: var(--col-darkest) !important;
  text-decoration: underline;
}

.vertical-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-btn {
    height: 55px;
  }
  .navbar-custom {
    padding: 0 !important;
  }
  .navbar-logo-wrapper {
    width: 160px !important;
  }
}
