a.nav-link {
  font-weight: 600;
  text-transform: uppercase !important;
}

.bg-custom {
  background-color: var(--col-blue-brand);
}

.bg-custom-2 {
  background-color: #0048a1;
}

.border {
  border: 1px solid var(--col-darkest) !important;
}

.btn-nav-link {
  background: none !important;
  font-weight: 300;
  color: #fff;
  transition: color 0.8s;
}

.btn-nav-link:active,
.btn-nav-link:hover {
  color: var(--cyan);
}

.hero-bg-img {
  filter: blur(2px);
  height: 100px;
  opacity: 0.3;
  transform: scaleY(1.2);
  -webkit-filter: blur(2px);
  width: 100%;
  z-index: -10 !important;
}

.hero-links-general-wrapper {
  height: 110px;
  left: 0 !important;
  position: absolute;
  width: 100px;
}

.hero-links-social-wrapper {
  height: 110px;
  position: absolute;
  right: 0;
  width: 100px;
}

.hero-links-wrapper {
  margin-top: 3px;
  z-index: 10;
}

.header-sub-wrapper {
  height: 120px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase !important;
}

.navbar-btn {
  font-size: 1.2em;
  font-weight: 300 !important;
  letter-spacing: -1.5px !important;
}

.nav-btn-home,
.nav-btn-mynerd,
.nav-btn-tvfilm,
.nav-btn-comics,
.nav-btn-gaming {
  border-bottom: 2px solid #113a7d !important;
  transition: border 0.8s;
}

.nav-btn-home:hover,
.nav-btn-mynerd:hover,
.nav-btn-tvfilm:hover,
.nav-btn-comics:hover,
.nav-btn-gaming:hover {
  border: 1px solid #000;
  text-decoration: underline;
}

.nav-btn-home:hover,
.nav-btn-home-active {
  border-bottom: 2px solid red !important;
}

.nav-btn-mynerd:hover,
.nav-btn-mynerd-active {
  border-bottom: 2px solid orange !important;
}

.nav-btn-tvfilm:hover,
.nav-btn-tvfilm-active {
  border-bottom: 2px solid yellow !important;
}

.nav-btn-comics:hover,
.nav-btn-comics-active {
  border-bottom: 2px solid lime !important;
}

.nav-btn-gaming:hover,
.nav-btn-gaming-active {
  border-bottom: 2px solid cyan !important;
}

.navbar-logo-wrapper {
  height: 100px;
  left: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  right: 0;
  text-align: center;
  width: 300px;
  z-index: 10;
}

.navbar-custom {
  box-shadow: 1px 1px 1px #222;
}

.navbar-logo-wrapper > img {
  width: 185px;
}

.nav-btn-active {
  color: var(--col-darkest) !important;
  text-decoration: underline;
}

.vertical-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-btn {
    font-size: 1em;
    height: 55px;
  }
  .navbar-custom {
    padding: 0 !important;
  }
  .navbar-logo-wrapper {
    width: 160px !important;
  }
  .navbar-logo-wrapper > img {
    width: 165px;
  }
}
